# Local
# STAGE=dev
# DB_PASSWORD=MySecr3tPassword
# DB_NAME=TesloDB
# DB_HOST=localhost
# DB_USERNAME=postgres
# DB_PORT=5433

# Neon
STAGE=prod
DB_PASSWORD=npg_ZIPFGD4VHM6s
DB_NAME=neondb
DB_HOST=ep-blue-lake-ae05y6tn-pooler.c-2.us-east-2.aws.neon.tech
DB_USERNAME=neondb_owner
DB_PORT=5432

# PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=123Est3EsMiSecr3to321